KEY_LOOKUP_TYPE=local
KEY_LOOKUP_TYPE_LOCAL_PATH=<Local file system Path where public key exists>
KEY_LOOKUP_TYPE_LOCAL_EXTENSION=.key
ALLOWED_CLOCK_SKEW=1
MAX_EXPIRY_DURATION=15
PG_DATABASE_URL="postgres://<username>:<password>@localhost:5432/waitingroomdb?sslmode=disable"